# Loosely based upon:
#   https://github.com/actions/starter-workflows/blob/main/ci/php.yml
name: Check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:

    runs-on: ubuntu-latest
    needs: phplint
    strategy:
      fail-fast: false
      matrix:
        php-version: [7.2, 7.3, 7.4, 8.0, 8.1, 8.2]
        laravel-version: [6.*, 7.*, 8.*, 9.*, 10.*]
        include:
          - laravel-version: 6.*
            testbench: 4.*
          - laravel-version: 7.*
            testbench: 5.*
          - laravel-version: 8.*
            testbench: 6.*
          - laravel-version: 9.*
            testbench: 7.*
          - laravel-version: 10.*
            testbench: 8.*
            
        exclude:
          - laravel-version: 10.*
            php-version: 7.2
          - laravel-version: 10.*
            php-version: 7.3
          - laravel-version: 10.*
            php-version: 7.4
          - laravel-version: 10.*
            php-version: 8.0
          - laravel-version: 8.*
            php-version: 7.2
          - laravel-version: 9.*
            php-version: 7.2
          - laravel-version: 9.*
            php-version: 7.3
          - laravel-version: 9.*
            php-version: 7.4
          - laravel-version: 6.*
            php-version: 8.1
          - laravel-version: 7.*
            php-version: 8.1
          - laravel-version: 6.*
            php-version: 8.2
          - laravel-version: 7.*
            php-version: 8.2

    name: P${{ matrix.php-version }} - L${{ matrix.laravel-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel-version }}" --no-interaction --no-update
          composer require --dev "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer install --prefer-dist --no-progress

      # the test script is configured in composer.json.
      # see: https://getcomposer.org/doc/articles/scripts.md
      - name: Run test suite
        run: composer run-script test

  phplint:
    runs-on: ubuntu-latest
    name: PHP Linting (Pint)
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@1.0.0
        with:
          preset: laravel
